@font-face {
    font-family: "FreePixel";
    src: url("fonts/FreePixel.ttf") format("truetype");
}
html, body {
    background-color:#000000;
    color:#c6b0df;
    box-sizing: border-box;
    font-size:16px;
    font-family:"FreePixel", monospace;
}
a {
    color: #ab97c2;
    background-color:#151516;
}
a:hover {
    background-color:#ab97c2;
    color:#151516;
}
.selectedPage {
    font-style: italic;
}
.selectedPage:hover {
    font-style: normal;
}
h1 {
    padding:0;
}
.cont {
    max-width: 850px;
    margin:0 auto;
}
.bannerBox {
    margin-top:10px;
    padding:8px;
    width:850px;
    min-width:fit-content;
    border-radius:8px;
}
.flex {
    display: flex;
    max-width:850px;
}
.logo {
    width:auto;
    height:86px;
}
.container-padded {
    padding:22px;
}
.main-cont {
    width: 74%;
}
ul {
    margin-top:0;
}
h1 {
    margin:0;
}
.flatList-cont {
    display:flex;
    flex-wrap:wrap;
}

.flatList-content {
    margin:15px;
    font-size:16px;
}

.flatList-enContent {
    margin:15px;
    width:250px;
}
/* stolen from https://codepen.io/queenadreena/pen/oKGyYq */
  
@keyframes wobb {
    0%, 100%   {transform: translateY(0px)}
    25%  {transform: translateY(-3px)}
    75%  {transform: translateY(3px)}
}
  
.wobble span {
    animation-name: wobb;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 950ms;
    display: inline-block;
    transform: translateY(0px);
}
  
.spacer {
    height: 100px;
}